MNUADV MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP "&File"
{
    MENUITEM "&Quit", 40140
}
POPUP "&Display"
{
    MENUITEM "&640 x 480", 40005
    MENUITEM "&800 x 600", 40006
    MENUITEM "&1024 x 768", 40007
	MENUITEM "&1280 x 1024", 40008
	MENUITEM SEPARATOR
	MENUITEM "&800 x 480 (Widescreen)", 40009
	MENUITEM "&2 x 600 (Widescreen)", 40010
	MENUITEM "&1280 x 768 (Widescreen)", 40011
	MENUITEM "&4 x 1024 (Widescreen)", 40012
	MENUITEM SEPARATOR
    MENUITEM "&Full Screen (F4)", 40013
}
POPUP "&Help"
{
    MENUITEM "On Line &Manual", 40052
    MENUITEM SEPARATOR
    MENUITEM "About", 40053
}
}
