################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.obj
/ironfist/bin
/ironfist/editor_vs/Debug
*.suo
*.log
*.db
*.opendb
*.idb
*.pdb
/ironfist/ironfist/.vs/ironfist/v15/ipch/AutoPCH/IRONFIST-9f541688
/ironfist/ironfist/.vs/ironfist/v15/ipch/AutoPCH/IRONFIST-9f541688/COMBAT_SPELLS-bfa5f164/COMBAT_SPELLS.ipch
/ironfist/ironfist/.vs/ironfist/v15/ipch/AutoPCH/IRONFIST-9f541688/HERO-e787c4c2/HERO.ipch
