################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ironfist/bin/maps
/ironfist/bin/games
/ironfist/bin/tracks
*.obj
*.log
*.tlog
*.opendb
*.db
*.exe
*.ilk
*.pdb
*.idb
*.suo
/ironfist/bin/data/HEROES2.AGG
/ironfist/bin/data/HEROES2X.AGG
*.SMK
*.HS
*.DAT
/tools/agg/bin
*.enc
*.ipdb
*.iobj
