################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.obj
/ironfist/bin
/ironfist/editor_vs/Debug
*.suo
*.log
*.db
*.opendb
